[submodule "vendor/github.com/containernetworking/cni"]
	path = vendor/github.com/containernetworking/cni
	url = https://github.com/containernetworking/cni
[submodule "vendor/github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "vendor/github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/github.com/vishvananda/netlink"]
	path = vendor/github.com/vishvananda/netlink
	url = https://github.com/vishvananda/netlink
[submodule "vendor/github.com/vishvananda/netns"]
	path = vendor/github.com/vishvananda/netns
	url = https://github.com/vishvananda/netns
[submodule "vendor/github.com/rubenv/sql-migrate"]
	path = vendor/github.com/rubenv/sql-migrate
	url = https://github.com/rubenv/sql-migrate.git
[submodule "vendor/gopkg.in/gorp.v1"]
	path = vendor/gopkg.in/gorp.v1
	url = https://gopkg.in/go-gorp/gorp.v1
[submodule "vendor/github.com/go-sql-driver/mysql"]
	path = vendor/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql
[submodule "vendor/github.com/lib/pq"]
	path = vendor/github.com/lib/pq
	url = https://github.com/lib/pq
[submodule "vendor/github.com/ziutek/utils"]
	path = vendor/github.com/ziutek/utils
	url = https://github.com/ziutek/utils
[submodule "vendor/code.cloudfoundry.org/lager"]
	path = vendor/code.cloudfoundry.org/lager
	url = https://github.com/cloudfoundry/lager
[submodule "vendor/code.cloudfoundry.org/go-db-helpers"]
	path = vendor/code.cloudfoundry.org/go-db-helpers
	url = https://github.com/cloudfoundry-incubator/go-db-helpers
[submodule "vendor/github.com/jmoiron/sqlx"]
	path = vendor/github.com/jmoiron/sqlx
	url = https://github.com/jmoiron/sqlx
