[submodule "vendor/github.com/containernetworking/cni"]
	path = vendor/github.com/containernetworking/cni
	url = https://github.com/containernetworking/cni
[submodule "vendor/github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "vendor/github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/github.com/vishvananda/netlink"]
	path = vendor/github.com/vishvananda/netlink
	url = https://github.com/vishvananda/netlink
[submodule "vendor/github.com/vishvananda/netns"]
	path = vendor/github.com/vishvananda/netns
	url = https://github.com/vishvananda/netns
[submodule "vendor/github.com/rubenv/sql-migrate"]
	path = vendor/github.com/rubenv/sql-migrate
	url = https://github.com/rubenv/sql-migrate.git
[submodule "vendor/gopkg.in/gorp.v1"]
	path = vendor/gopkg.in/gorp.v1
	url = https://gopkg.in/go-gorp/gorp.v1
[submodule "vendor/github.com/go-sql-driver/mysql"]
	path = vendor/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql
[submodule "vendor/github.com/lib/pq"]
	path = vendor/github.com/lib/pq
	url = https://github.com/lib/pq
[submodule "vendor/github.com/ziutek/utils"]
	path = vendor/github.com/ziutek/utils
	url = https://github.com/ziutek/utils
[submodule "vendor/code.cloudfoundry.org/lager"]
	path = vendor/code.cloudfoundry.org/lager
	url = https://github.com/cloudfoundry/lager
[submodule "vendor/github.com/jmoiron/sqlx"]
	path = vendor/github.com/jmoiron/sqlx
	url = https://github.com/jmoiron/sqlx
[submodule "vendor/github.com/tedsuo/ifrit"]
	path = vendor/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit
[submodule "vendor/code.cloudfoundry.org/debugserver"]
	path = vendor/code.cloudfoundry.org/debugserver
	url = https://github.com/cloudfoundry/debugserver
[submodule "vendor/github.com/tedsuo/rata"]
	path = vendor/github.com/tedsuo/rata
	url = https://github.com/tedsuo/rata
[submodule "vendor/github.com/bmizerany/pat"]
	path = vendor/github.com/bmizerany/pat
	url = https://github.com/bmizerany/pat
[submodule "vendor/github.com/square/certstrap"]
	path = vendor/github.com/square/certstrap
	url = https://github.com/square/certstrap
[submodule "vendor/gopkg.in/validator.v2"]
	path = vendor/gopkg.in/validator.v2
	url = https://github.com/go-validator/validator
[submodule "vendor/github.com/hashicorp/go-multierror"]
	path = vendor/github.com/hashicorp/go-multierror
	url = https://github.com/hashicorp/go-multierror
[submodule "vendor/github.com/cloudfoundry/dropsonde"]
	path = vendor/github.com/cloudfoundry/dropsonde
	url = https://github.com/cloudfoundry/dropsonde
[submodule "vendor/github.com/cloudfoundry/sonde-go"]
	path = vendor/github.com/cloudfoundry/sonde-go
	url = https://github.com/cloudfoundry/sonde-go
[submodule "vendor/github.com/gogo/protobuf"]
	path = vendor/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
[submodule "vendor/github.com/nu7hatch/gouuid"]
	path = vendor/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid
[submodule "vendor/github.com/containernetworking/plugins"]
	path = vendor/github.com/containernetworking/plugins
	url = https://github.com/containernetworking/plugins
[submodule "vendor/code.cloudfoundry.org/cf-networking-helpers"]
	path = vendor/code.cloudfoundry.org/cf-networking-helpers
	url = https://github.com/cloudfoundry/cf-networking-helpers
[submodule "vendor/github.com/pivotal-cf-experimental/gomegamatchers"]
	path = vendor/github.com/pivotal-cf-experimental/gomegamatchers
	url = https://github.com/pivotal-cf-experimental/gomegamatchers.git
[submodule "vendor/code.cloudfoundry.org/filelock"]
	path = vendor/code.cloudfoundry.org/filelock
	url = https://github.com/cloudfoundry/filelock
